@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
* {
  font-family: "Quicksand", sans-serif;
}

.colored-toast.swal2-icon-success {
  background-color: #a9d291 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast .swal2-title {
  color: white;
}
.colored-toast .swal2-html-container {
  color: white;
}

body.swal2-shown > [aria-hidden="true"] {
  transition: all ease 0.3s;
  filter: blur(6px);
}

body.swal2-shown > [aria-hidden="false"] {
  transition: all ease 0.3s;
}

@keyframes slow-spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.text-candidate {
  font-size: 8em;
}

.text-brutal {
  font-size: 30em;
}

.loader {
  width: 90px;
  height: 90px;
  border: 6px dashed rgba(123, 158, 17, 0.422);
  border-style: dashed solid dashed solid;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 6px dotted rgb(139, 183, 236);
  border-style: solid dashed solid dashed;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  animation: rotationBack 1s ease infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.loader-login {
  border: 2px solid;
  border-color: transparent #fff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1.5s linear infinite;
}
.loader-login::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 14px solid;
  border-color: transparent rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes animloader2 {
  0% {
    transform: translate(0, 0) rotateX(0) rotateY(0);
  }
  25% {
    transform: translate(100%, 0) rotateX(0) rotateY(180deg);
  }
  50% {
    transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
  }
  75% {
    transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
  }
  100% {
    transform: translate(0, 0) rotateX(0) rotateY(360deg);
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
}
.lds-ellipsis div {
  position: absolute;
  top: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.4s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.4s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.4s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.4s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.svg-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.svg-container-login {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.building-svg path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: build 15s ease-in-out infinite;
}

@keyframes build {
  0% {
    stroke-dashoffset: 1000;
  }
  25% {
    stroke-dashoffset: 100;
  }
  75% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1000;
  }
}
